{{ define "search" }}
{{ end }}

{{ define "body" }}
<div>
  <form action="" method="GET">
    <input id="search-input" name="q" placeholder="Search..." value="{{ .query }}" autofocus />
    <button id="search-button" type="submit">Search</button>
  </form>
</div>

<div id="results">
  {{ range .search_results }}
  <div>
      <h2><a class="search-result-title" href="{{ .URL }}">{{ .Title }}</a></h2>
      <p class="search-result-description">{{ .Content }}</p>
  </div>
  {{ end }}
</div>
{{ end }}